.edit{
    
    margin-left:30%;
    margin-right: 30%;
    background-color: rgb(243, 222, 196);
    padding:  20px;
    box-shadow: 5px 5px 5px grey;
    opacity: 0.9;
}
.Date {
    font-size: 15px;
    color: #333;
    height: 20px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    margin-right:15px;
    float:left;
}
