/*.slideshow > div {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 240px;
    max-height: 100%;
}*/

.slideshow > div > img {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    
}
.slider {
    width: 50%;
    height: 100%;
    
}
#a{
    float:left;
    width:50%;
    height: 100%;
}
#b{
    float:right;
    width:50%;
    height:100%;
    margin-top: 20px;
    padding: 8%;
    
}




