.collabel{
   
    background-color:whitesmoke;
    padding:  5px;
    
    
}
.collabel h4{
    font-size: 17.5px;
}
.profilemain{
    
    margin-left:20%;
    margin-right: 20%;
    background-color:whitesmoke;
    padding:  20px;
    box-shadow: 5px 5px 5px grey;
    opacity: 0.9;
    
}
